/* body{
   background-image: linear-gradient(-180deg, white, yellow);
} */

.Jumbotron {
  text-align: center;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.h1{
  font-size: 120px;
  color: rgb(14, 14, 15);
  text-shadow: -1px 0 rgb(206, 80, 80), 0 1px rgb(185, 14, 14), 1px 0 rgb(190, 33, 33), 0 -1px rgb(184, 58, 58);
}
.contflex {
  display: flex;
  width: 80%;
  margin: 30px auto;
}

.circle {
  position: relative;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 200px;
   background-color: #000000;
}

.circle.active{
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 1);
  background: pink;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.center {
  text-align: center !important;
  justify-content: center;
}




/* //Game over */

#result{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

}

#gameoverbox {
   background-color: #fff;
   padding: 100px, 0, 0, 0;
   width: 40%;
   height: 15%;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   position: relative;
}

#gameoverbox button {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;

}

/* Responsive Media Query */

@media screen and (max-width: 900px) {
.h1{
  font-size: 80px;
  color: rgb(14, 14, 15);
  text-shadow: -1px 0 rgb(206, 80, 80), 0 1px rgb(185, 14, 14), 1px 0 rgb(190, 33, 33), 0 -1px rgb(184, 58, 58);
}
  .circle {
    width: 100px;
    height: 100px;
  }
}
